# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore the secret keys
.env
/.env

# Ignore the database (so local data isn't shared)
*.db
*.sqlite3

# Ignore Python system files
__pycache__/
*.pyc

# Ignore the Virtual Environment (huge folder)
venv/
env/

# Ignore Node Modules (huge folder)
node_modules/